{{#logueado}}
  {{> headerLogueado}}
<br>
<div class="w3-container w3-white w3-margin w3-center">
<br>        
            

<div class='w3-container w3-content w3-center' style='max-width:800px' id='userList'>
    <h2 class='w3-wide'>Ediciones</h2>
    <table class='w3-table'>
        <tr>
            <th>Id</th>
            <th>Edicion</th>
            <th>Diario</th>
            <th>Seccion</th>
            <th>Eliminar</th>
        </tr>

        {{#editionAll}}
           <tr>
           
                <td>{{editionId}}</td>
                <td>{{editionDescription}}</td>
                <td>{{dailyName}}</td>
                <td>{{typeDescription}}</td>
              
                
                <div class="w3-justify">
                <td><a href="/admin/deleteEdition?editionId={{editionId}}"><button class="w3-button w3-round-xlarge">Eliminar</button></a></td>     

                </div>
            </tr>
        {{/editionAll}}

    </table>
</div>

             <hr>

    <form class="w3-container w3-card-4" action="/admin/newEdition" enctype="multipart/form-data" method="POST">
  <h2>Nueva Edicion</h2>


                   <p class="w3-left-align">
                  <label for="descripcion">Descripcion</label>
                  <input class="w3-input w3-margin-top w3-animate-input" type="text" name="descripcion" id="descripcion" style="width:30%" required>
                  </p>
                  <p class="w3-left-align">
                  <label for="precio">Precio</label>
                  <input class="w3-input w3-margin-top w3-animate-input" type="text" name="precio" id="precio" style="width:30%" required>
                  </p>
                  
                  <p class="w3-left-align">
                  <label for="image">Imagen</label>
                  <input class="w3-input w3-margin-top" type="file" id="image" name="image" style="width: 30%" required>
                  </p>                  

                  <p class="w3-left-align" style="width:30%">
                      <select class="w3-select w3-border" name="dailyId">
                        <option value="" disabled selected>Diario a publicar</option>
                      {{#dailyEdition}}
                        <option value="{{dailyId}}">{{dailyName}}</option>
                      {{/dailyEdition}}
                      </select>
                  </p >



                  <p>
                  <button type="submit" class="w3-button  w3-black w3-padding-16 w3-section">Crear Edicion</button>
                  </p>
</form>

</div>
{{/logueado}}
{{^logueado}}
  {{> header}}


<!-- The App Section -->
<div class="w3-padding-64 w3-white">
  <div class="w3-row-padding">
    <div class="w3-col l8 m6">
     <h1 class="w3-xxxlarge w3-text-green"><b>No tienes permisos</b></h1>
      <button class="w3-button w3-light-grey w3-padding-large w3-section w3-hide-small" onclick="document.getElementById('download').style.display='block'">
        <i class="fa fa-download"></i> Download Application
      </button>
      <p>Available for <i class="fa fa-android w3-xlarge w3-text-green"></i> <i class="fa fa-apple w3-xlarge"></i> <i class="fa fa-windows w3-xlarge w3-text-blue"></i></p>
    </div>
    <div class="w3-col l4 m6">
      <img src="/public/w3images/bloqueo.jpg" class="w3-image w3-right w3-hide-small" width="335" height="471">
      <div class="w3-center w3-hide-large w3-hide-medium">
        <button class="w3-button w3-block w3-padding-large" onclick="document.getElementById('download').style.display='block'">
          <i class="fa fa-download"></i> Download Application
        </button>
        <img src="/w3images/img_app.jpg" class="w3-image w3-margin-top" width="335" height="471">
      </div>
    </div>
  </div>
</div>
{{/logueado}}

<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px">
         <input type="submit" class="w3-bar-item w3-button w3-green" onclick="history.back()" value="VOLVER" name="guardar">
 </div>
{{> footer}}


