{{#logueado}}
  {{> headerLogueado}}

{{/logueado}}
{{^logueado}}
  {{> header}}
{{/logueado}}
<br>
<br>

    <p id="TT_FVjVsJs2cddcChIAjAu1kkEkEWnAaEI">El tiempo - Tutiempo.net</p>
<script type="text/javascript" src="https://www.tutiempo.net/s-widget/l_FVjVsJs2cddcChIAjAu1kkEkEWnAaEI"></script>
  </p>




    <h2 class="w3-center"><b>NUESTROS DIARIOS Y REVISTAS</b></h2>
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding w3-center" id="food">
    <div class="w3-quarter">
      <a href="/Edicion/" ><img src="/public/diarios/ambito.png" alt="Sandwich" style="width:100%"></a>
      <h3>The Perfect Sandwich, A Real NYC Classic</h3>
      <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
    <div class="w3-quarter">
      <a href="https://www.freecodecamp.org/" target="_blank" ><img src="/public/diarios/pronto.png" alt="Steak" style="width:100%"></a>
      <h3>Let Me Tell You About This Steak</h3>
      <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
    <div class="w3-quarter">
      <a href="https://www.freecodecamp.org/" target="_blank" ><img src="/public/diarios/infobae.png" alt="Cherries" style="width:100%"></a>
      <h3>Cherries, interrupted</h3>
      <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
      <p>What else?</p>
    </div>
    <div class="w3-quarter">
      <a href="https://www.freecodecamp.org/" target="_blank" ><img src="/public/diarios/p12.png" alt="Pasta and Wine" style="width:100%"></a>
      <h3>Once Again, Robust Wine and Vegetable Pasta</h3>
      <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
  </div>
  
  <!-- Second Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center">
    <div class="w3-quarter">
      <a href="https://www.freecodecamp.org/" target="_blank" ><img src="/public/diarios/hola.jpg" alt="Popsicle" style="width:100%"></a>
      <h3>All I Need Is a Popsicle</h3>
      <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
    <div class="w3-quarter">
      <a href="https://www.freecodecamp.org/" target="_blank" ><img src="/public/diarios/clarin.jpg" alt="Salmon" style="width:100%"></a>
      <h3>Salmon For Your Skin</h3>
      <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
    <div class="w3-quarter">
      <a href="https://www.freecodecamp.org/" target="_blank" ><img src="/public/diarios/laNacion.png" alt="Sandwich" style="width:100%"></a>
      <h3>The Perfect Sandwich, A Real Classic</h3>
      <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
    <div class="w3-quarter">
      <a href="https://www.freecodecamp.org/" target="_blank" ><img src="/public/diarios/ole.jpg" alt="Croissant" style="width:100%"></a>
      <h3>Le French</h3>
      <p>Lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
  </div>

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>

{{> footer}}