{{#logueado}}
  {{> headerLogueado}}

{{/logueado}}
{{^logueado}}
  {{> header}}
{{/logueado}}
<br>
<br>


  <div class="w3-container w3-text-grey" id="jeans">
    <p>8 items</p>
  </div>

  <!-- Product grid -->
  <div class="w3-row w3-grayscale">
    <div class="w3-col l3 s6">
      <div class="w3-container">
        <div class="w3-display-container">
         <img src="/public/diarios/Tapa/ambito.jpeg" style="width:100%">
          <span class="w3-tag w3-display-topleft">New</span>
          <div class="w3-display-middle w3-display-hover">
            <a href="/Edicion/seccion"><button class="w3-button w3-black">Edicion Diciembre<i class="fa fa-shopping-cart"></i></button></a>
          </div>
        </div>
        
      </div>
      <div class="w3-container">
        <div class="w3-display-container">
         <img src="/public/diarios/Tapa/ambito.jpeg" style="width:100%">
          
          <div class="w3-display-middle w3-display-hover">
            <a href="/Edicion/seccion"><button class="w3-button w3-black">Edicion Noviembre<i class="fa fa-shopping-cart"></i></button></a>
          </div>
        </div>
        
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <div class="w3-container">
        <div class="w3-display-container">
         <img src="/public/diarios/Tapa/ambito.jpeg" style="width:100%">
          
          <div class="w3-display-middle w3-display-hover">
            <a href="/Edicion/seccion"><button class="w3-button w3-black">Edicion Octubre<i class="fa fa-shopping-cart"></i></button></a>
          </div>
        </div>
        
      </div>
        
      </div>
      <div class="w3-container">
        <div class="w3-display-container">
         <img src="/public/diarios/Tapa/ambito.jpeg" style="width:100%">
          
          <div class="w3-display-middle w3-display-hover">
            <a href="/Edicion/seccion"><button class="w3-button w3-black">Edicion Agosto<i class="fa fa-shopping-cart"></i></button></a>
          </div>
        </div>
        
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <div class="w3-display-container">
         <img src="/public/diarios/Tapa/ambito.jpeg" style="width:100%">
         
          <div class="w3-display-middle w3-display-hover">
            <a href="/Edicion/seccion"><button class="w3-button w3-black">Edicion Julio<i class="fa fa-shopping-cart"></i></button></a>
          </div>
        </div>
        
      </div>
      <div class="w3-container">
        <div class="w3-container">
        <div class="w3-display-container">
         <img src="/public/diarios/Tapa/ambito.jpeg" style="width:100%">
          <span class="w3-tag w3-display-topleft">Oferta</span>
          <div class="w3-display-middle w3-display-hover">
            <a href="/Edicion/seccion"><button class="w3-button w3-black">Edicion Febrero<i class="fa fa-shopping-cart"></i></button></a>
          </div>
        </div>
        
      </div>
    
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <div class="w3-display-container">
         <img src="/public/diarios/Tapa/ambito.jpeg" style="width:100%">

          <span class="w3-tag w3-display-topleft">Sold</span>
          <div class="w3-display-middle w3-display-hover">
            <a href="/Edicion/seccion"><button class="w3-button w3-black">Edicion enero<i class="fa fa-shopping-cart"></i></button></a>
          </div>
        </div>
        
      </div>
      <div class="w3-container">
        <div class="w3-display-container">
         <img src="/public/diarios/Tapa/ambito.jpeg" style="width:100%">
          <span class="w3-tag w3-display-topleft">Oferta</span>
          <div class="w3-display-middle w3-display-hover">
            <a href="/Edicion/seccion"><button class="w3-button w3-black">Edicion Mayo<i class="fa fa-shopping-cart"></i></button></a>
          </div>
        </div>
     
      </div>
    </div>
  </div>
{{> footer}}