{{#logueado}}
  {{> headerLogueado}}

{{/logueado}}
{{^logueado}}
  {{> header}}
{{/logueado}}

<!-- The logIn Section -->
<div class="w3-black" id="login">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
        <h2 class="w3-wide w3-center">INICIAR SESIÓN</h2>
        <p class="w3-opacity w3-center"><i>¡Ingresá para ver todo nuestro contenido!</i></p><br>
        <div class="w3-container">
            <form action="/login/userLogin" method="post">
                <p><label for="email"><i class="fa fa-user"></i> Usuario</label></p>
                <input class="w3-input w3-border" name="email" id="email" type="email" placeholder="email@email.com">

                <p><label for="password"><i class="fa  fa-key"></i> Contraseña</label></p>
                <input class="w3-input w3-border" name="password" id="password" type="password" placeholder="*******">

                <button type="submit" class="w3-button  w3-black w3-padding-16 w3-section">Iniciar sesión</button>

                <a href="/registry" class="w3-text-white w3-hover-text-black"><div class="w3-button w3-black w3-padding-16 w3-section w3-right">Registrarse</div></a>
            </form>
        </div>
    </div>
</div>
{{> footer}}