{{#logueado}}
  {{> headerLogueado}}



<div class="w3-container w3-padding-64 w3-white w3-margin w3-center">
            <h3>Revisá tu nota y reenviala</h3>
{{#article}}
            <form class="w3-container" action="/reeditionnote/updateNote" method="post" enctype="multipart/form-data">
                  <p class="w3-left-align">
                  <label for="title">Título</label>
                  <input class="w3-input w3-margin-top w3-animate-input" type="text" value="{{articleTitle}}" name="title" id="title" style="width:30%" required>
                  </p>

                  <p class="w3-left-align">
                  <label for="image">Imagen</label>
                  <input class="w3-input w3-margin-top" type="file" id="image" name="image" style="width: 30%" required>
                  </p>

                  <p class="w3-left-align">
                  <label for="note">Escribí tu nota:</label>
                  <textarea class="w3-input w3-margin-top w3-animate-input" type="text" name="note" id="note" style="width: 30%; height: 250px; resize:none" required>
                  {{articleContent}} 
                  </textarea>
                  </p>
                    <input id="idArticles" name="idArticles" type="hidden" value="{{idArticles}}">
                  <p class="w3-left-align" style="width:30%">
                  <select class="w3-select w3-border" name="daily">
                  <option value="" disabled >Diario a publicar</option>
                  {{#dailys}}
                  <option value="{{dailyId}}" selected>{{dailyName}}</option>
                  {{/dailys}}
                  </select>
                  </p >

                <p class="w3-left-align" style="width:30%">
                <select class="w3-select w3-border" name="edition">
                  <option value="" disabled >Edición a publicar</option>
                {{#editions}}
                  <option value="{{editionId}}" selected>{{editionDescription}}</option>
                {{/editions}}
                </select>
                </p >

                 <p class="w3-left-align" style="width:30%">
                <select class="w3-select w3-border" name="section">
                  <option value="" disabled >Sección a publicar</option>
                {{#sections}}
                  <option value="{{sectionId}}" selected>{{sectionDescription}}</option>
                {{/sections}}
                </select>
                 </p >

                  <p>
                  <button type="submit" class="w3-button  w3-black w3-padding-16 w3-section">Enviar nota</button>
                  </p>
            </form>

{{/article}} 
</div>

{{/logueado}}
{{^logueado}}
  {{> header}}


<!-- The newNote Section -->
<!-- <div class="w3-padding-64 w3-white">
  <div class="w3-row-padding">
    <div class="w3-col l8 m6">
     <h1 class="w3-xxxlarge w3-text-green"><b>No tienes permisos</b></h1>
      <button class="w3-button w3-light-grey w3-padding-large w3-section w3-hide-small" onclick="document.getElementById('download').style.display='block'">
        <i class="fa fa-download"></i> Download Application
      </button>
      <p>Available for <i class="fa fa-android w3-xlarge w3-text-green"></i> <i class="fa fa-apple w3-xlarge"></i> <i class="fa fa-windows w3-xlarge w3-text-blue"></i></p>
    </div>
    <div class="w3-col l4 m6">
      <img src="/public/w3images/bloqueo.jpg" class="w3-image w3-right w3-hide-small" width="335" height="471">
      <div class="w3-center w3-hide-large w3-hide-medium">
        <button class="w3-button w3-block w3-padding-large" onclick="document.getElementById('download').style.display='block'">
          <i class="fa fa-download"></i> Download Application
        </button>
        <img src="/w3images/img_app.jpg" class="w3-image w3-margin-top" width="335" height="471">
      </div>
    </div>
  </div>
</div> -->
{{/logueado}}

{{> footer}}