{{#logueado}}
  {{> headerLogueado}}

{{/logueado}}
{{^logueado}}
  {{> header}}
{{/logueado}}

<!-- The Band Section -->
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">

    <div class="w3-container">
  <h2>REPORTES</h2>


  <div class="w3-panel w3-pale-green w3-bottombar w3-border-green w3-border">
    <p style="font-size:2vw"   >Reportes de usuarios >> <a href="/report/reportUser " >ver</a></p>
  </div>

  <div class="w3-panel w3-yellow w3-bottombar w3-border-amber">
    <p style="font-size:2vw" >Reportes de Diarios  >> <a href="/report/ " target="_blank">ver </b></a></p>
  </div>
</div>
 </div>
{{> footer}}

