{{#logueado}}
  {{> headerLogueado}}

{{/logueado}}
{{^logueado}}
  {{> header}}



<div class="w3-row w3-padding-64 w3-container w3-margin">
  <div class="w3-col s6 w3-center w3-padding-64"><img src="https://www.diariosargentinos.com.ar/all-devices.png" class="" alt="Random Name" style="width:60%"></div>
  <div class="w3-col s6 w3-center w3-padding-64"><p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vulputate malesuada interdum. Ut sodales lectus eget auctor interdum. Nunc id sapien purus. Sed ut ante non orci aliquam convallis. Donec vitae justo aliquet, vehicula dui sed, vehicula sem. Sed felis ante, fringilla ac orci eget, luctus posuere ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Ut imperdiet augue at dolor eleifend fermentum. Curabitur sed mauris eros. Nullam finibus consectetur enim, et feugiat massa ultrices non. Quisque venenatis sed dolor et convallis. Morbi vulputate ac massa a fermentum. Donec luctus diam velit, in ultrices nisi sollicitudin eget. Maecenas consectetur dictum vulputate. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p></div>
</div>
 
{{/logueado}}
{{> footer}}

