{{#role1}}
    <h2>ACA VA HEADER DE ROL 1 {{role1}}
{{/role1}}

{{#role2}}
    <h2>ACA VA HEADER DE ROL 2 {{role2}}
{{/role2}}

{{#role3}}
    <h2>ACA VA HEADER DE ROL 3 {{role3}}
{{/role3}}

{{#role4}}
    <h2>ACA VA HEADER DE ROL 4 {{role4}}
{{/role4}}
