{{#logueado}}
  {{> headerLogueado}}

<div class="w3-center w3-padding-top-64">
  <h2 class="">Notas para Verificar</h2>
  {{#notes}}
  <div class="w3-display-container ">
          <center>
            <ul class="w3-ul w3-card-4 w3-margin-left" style="width:50%">

              <li class="w3-margin w3-center">
              <img src="{{dailyImageUrl}}" alt="" width="120">
              <button class="w3-button w3-red w3-margin-left">Desuscribirse</button>
              </li>

              <input id="userId" name="userId" type="hidden" value="{{ID}}">
              <input id="dailyId" name="dailyId" type="hidden" value="{{dailyIdTable}}">

            </ul>
          </center>
        </div>
    <form action="/Suscripcion/unregister" method="POST">
      
    </form>
  {{/subscription}}
</div>

{{/logueado}}
{{^logueado}}
  {{> header}}



<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px">
    <h2 class="w3-wide">Para suscribirse , haga click en registrarse..</h2>
	<a href="/registry"> <input type="submit" class="w3-btn w3-green w3-round-large" value="Registrarse"></a>
</div>
{{/logueado}}

{{> footer}}